.App {
  text-align: center;
}

.BgImg{
  position: absolute;
  top: 0;
  z-index: -1;
}

.BgImg._compass{
  width:100%;
  top: 12px;
}
.Margin-Top{
  margin-top: 36px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.FullMaxWidth{
  max-width: 100%;
}
.MainBody{
  height: calc(100vh - 104px);
  overflow: auto;
}
.MainBody.alt{
  height: calc(100vh - 48px);
}
.MainBody.Profile{
  height: calc(100vh - 249px);
}
.MainBodyInner{
  padding: 24px 0px;
}
.Absolute{
  position: absolute;
}
.Fixed{
  position: fixed;
}
.Center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Enter {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 48px;
}
.SponsorDiv{
  overflow: auto;
  position: fixed;
  bottom: 48px;
  width: 100vw;
}
.SponsorDiv img{
  margin: 0px 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Score{
  position: absolute;
  top: 68px;
  right: 12px;;
}
.Compass{
  margin-top: 80px;
}
